#main{
  justify-content: flex-start;
}

.playground {
    margin-top: 40px;
    min-width: 250px;
    max-width: 1024px;
    min-height: 80vh;
    width: 80%;
    height: auto;
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}


.card {
    margin: 0 2px 15px;
    display: flex;
    width: 75px;
    height: 75px;
    position: relative;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5em;
}

.block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .5s ease;
}

.card p {
    width: auto;
    height: auto;
    text-align: center;
    font-size: 250%;
}

.guardian {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
}

/*------------RESPONSIVE----------------*/
@media only screen and (min-width: 650px){
  .card {
      margin: 0 10px 15px;
      height: 100px;
      width: 100px;
  }
}

@media only screen and (min-width: 1020px){
  .card{
    margin: 0 20px 30px;
    height: 125px;
    width: 125px;
  }
}
