.cont_abc{
	/* min-height: 400px; */
	display: flex;
	justify-content: center;
  align-items: center;
	flex-wrap: wrap;
	margin: 30px 0;
	height: 350px;
	max-width: 350px;
	min-width: 100px;
}

.cont_abc > .letra {
	width: 80%;
	height: auto;
	cursor: pointer;
}

.letra > img {
	width: 100%;
	height: auto;
}

.buttons{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.input{
	width: 100%;
	font-size: 30px;
	height: auto;
	display: flex;
	min-height: 24px;
	justify-content: center;
	margin-bottom: 5px;
}

.write{
	text-align: center;
	background: transparent;
	border-radius: 5px;
	margin: auto;
	min-width: 200px;
	width: 45%;
	height: 60px;
	font-size: 75%;
}

.input i{
	position: absolute;
	font-size: 32px;
	right: 0;
	top: 0;
}

/* .NavButtons {
	display: flex;
} */
