/*--------------------background--------------------*/

body{
  background: linear-gradient(to top, #CCFFFF, #0099CC 73%, #006699 100%) top center/cover no-repeat fixed;
}

body::before{
  content: "";
  background: url(../img/cloud.svg) center center/contain no-repeat;
  position: fixed;
  bottom: 30px;
  left: -500px;
  width: 500px;
  height: 300px;
  z-index: -1;
  animation: cloud1 12s ease-in infinite 4s;
}

body::after{
  background: url(../img/cloud.svg) center center/contain no-repeat;
  content: "";
  position: fixed;
  top: 30px;
  /* right: -150px; */
  left: -500px;
  width: 500px;
  height: 300px;
  z-index: -1;
  transition: 5s translate;
  transform: translate(250px);
  animation: cloud1 12s ease-in infinite;
}

@keyframes cloud1 {
  from{
    transform: translate(0,0);
  }
  to{
    transform: translate(calc(100vw + 500px) , 0);
  }
}
