section{
  width: 100%;
  /* flex-direction: row; */
}

#retoImage{
  min-width: 100px;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* width: 100%; */
}

.titles{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 0 50px;
  margin-top: 50px;
}

.titlesLessons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  padding: 0 50px;
  margin-top: 50px;
  align-items: center;
}

.titles h1, .titlesLessons h1{
  font-size: 2.5em;
  font-weight: 600;
  margin: 0 0 25px 0;
  width: 100%;
  height: auto;
}

.titlesLessons a {
  display: inline-block;
  width: 100px;
  height: auto;
  align-self: center;
}

.titles img {
  width: 100px;
  height: auto;
}

.lessoncontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  padding: 20px;
}

.lesson {
  font-family: "Myriad Pro Bold";
  background-color: var(--color);
  color: white;
  width: 260px;
  max-width: 260px;
  height: 65px;
  margin: 15px 0;
  border-radius: 12px;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.lesson::after{
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--color);
  filter: brightness(85%);
}

.lesson > .inf {
  width: 15%;
  height: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.inf > span {
  margin: 0 0 0 5px;
}

.lesson > .title {
  width: 65%;
  height: 100%;
  color: white;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
}

.lesson .img {
  /* background-color: rgb(255, 255, 255); */
  width: 40px;
  height: 40px;
  margin-right: 12px;
  /* border-radius: 50%; */
}

#images{
  min-width: 300px;
  display: flex;
  justify-content: center;
  position: relative;
  height: 500px;
  width: 30%;
  max-width: 450px;
  align-self: center;
}

#images > img{
  width: 70%;
  position: relative;
  /* top: 50%;
  left: 10%; */
  z-index: 1;
}

#images > object{
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0;
  z-index: 0;
}

.inactive {
  opacity: .4;
  cursor: unset;
}

.current {
  animation-name: currentLesson;
  animation-delay: .5s;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  cursor: pointer;
}

.current:hover {
  animation-name: unset;
}

@keyframes currentLesson {
  0%,100% {
    filter:brightness(125%);
  }

  15% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(5deg);
  }

  35% {
    transform: rotate(-5deg);
  }

  45% {
    transform: rotate(0deg);
  }

  50% {
    filter:brightness(50%);
  }
}



@media screen and (max-width : 910px) {
  .mainContainer {
    justify-content: center;
    flex-wrap: wrap;
  }

  .titlesLessons a {
   width: 75px;
  }

  #retoImage{
    min-width: 75px;
  }

  #images {
    height: auto;
    margin: 50px 0;
  }

  #images > img {
    width: 35%;
    height: auto;
  }

  #images > object {
    height: 100%;
    width: auto;
    left: 50%;
    transform: translate(-50%, 0) scale(1.5);
  }
}

@media screen and (max-width : 600px) {
  .lessoncontainer {
    grid-template-columns: unset;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0px;
  }

  .titlesLessons a {
    width: 50px;
   }
 
   #retoImage{
     min-width: 50px;
   }
}

@media screen and (max-width : 400px) {
  .titlesLessons {
    flex-direction: column;
  }
}