@import url('https://fonts.googleapis.com/css?family=Mali|Roboto&display=swap');

:root{
  --primary: #007BBF;
  --secondary: #0B307F;
  /* --green: #EE6F2A; */

  --yellow: #F9CF00;
  --orange: #EE6F2A;
  --pink: #EB4D8A;
  --cyan: #00BBE8;
  --blue: #007BBF;
  --purple: #9592C9;
  --aquamarina: #00AC92;
}
/*--------------------------------WELCOME---------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Mali|Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  font-family: myriad-pro, sans-serif;
}

.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
}



.c21English > .firstHalf {
  padding: 0;
  width: 0%;
}

.c21English > .firstHalf > img,
.c21English > .firstHalf > .footer,
.c21English > .firstHalf > .loginForm {
  transform: scale(0);
}

 {
  transform: scale(0);
}

.c21English > .welcome {
  width: 100%;
}

.c21English > .welcome > img {
  width: 60%;
}


.firstHalf {
  --mainColor: #004a7d;
  --secondColor: #fea400;
  padding: 25px;
  height: 100vh;
  width: 30%;
  background-color: rgb(255, 255, 255);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: 1s ease-in-out;
}

.firstHalf > img {
  height: 20%;
  width: auto;
  transition: .3s ease-in-out;
}

.loginForm {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  /* background-color: rgb(255, 255, 255); */
  width: 80%;
  max-width: 300px;
  transition: .3s ease-in-out;
}

.loginForm > h3 {
  text-align: center;
}

.loginForm > input {
  margin: 10px;
  padding: 7px 5px;
}

.loginForm > p {
  margin: 10px;
  padding: 7px 0px;
}

#submitButton {
  background: var(--mainColor);
  color: white;
  box-shadow: none;
  border: none;
  cursor: pointer;
}

.firstHalf > .footer {
  position: absolute;
  bottom: 10px;
  text-align: center;
  transition: .3s ease-in-out;
}

.welcome {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s ease-in-out;
}

.welcome > img {
  width: 90%;
  height: auto;
  transition: .5s ease-in-out;
}







.loginForm > div {
  display: flex;
  padding: 0 10px;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: auto;
  align-self: center;
  position: relative;
  margin: 30px 10px;
}

.loginForm > h3{
  margin: 10px 0;
}

.barcolor {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  min-width: 230px;
  left: 0;
  bottom: -1px;
  background-color: var(--secondColor);
  transform: scale(0.0,1);
  transform-origin: left bottom;
  transition: .3s ease;
}

div label {
  font-size: 125%;
  width: 100%;
  position: absolute;
  bottom: 3px;
}

label {
  margin: 0;
  display: block;
  cursor: pointer;
}

.formInput {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 2px solid var(--secondColor);
  position: relative;
  width: 100%;
  min-width: 230px;
  font-size: 110%;
  padding: 0 0 5px 5px;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.inputLabel {
  transition: .3s ease;
}

.formInput:focus + .inputLabel{
  transform: translate(0, -30px);
}

.formInput:not(:placeholder-shown) + .inputLabel{
  transform: translate(0, -30px);
}

#submit, .siguiente {
  text-align: center;
  width: 150px;
  height: 25px;
  padding: 0 10px;
  border-radius: 12px;
  align-self: center;
  background-color: #FBD906;
  cursor: pointer;
  border: none;
}

#submit:hover, .siguiente:hover {
  background-color: hsl(30, 80%, 60%);
}

#submit:focus, .siguiente:focus {
  background-color: hsl(30, 100%, 40%);
}