:root{
  --primary: #007BBF;
  --secondary: #0B307F;
  --green: #8EC134;

  --lessons: #F9CF00;

  --yellow: #F9CF00;
  --orange: #EE6F2A;
  --pink: #EB4D8A;
  --cyan: #00BBE8;
  --blue: #007BBF;
  --purple: #9592C9;
  --aquamarina: #00AC92;
}

*{
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

b{
  font-weight: 900;
}

body{
  font-family: myriad-pro, sans-serif;
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 600;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/*-----------Navbar-------------*/

header{
  background-color: var(--secondary);
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 8vh;
  z-index: 3;
}

header img{
  height: 50%;
  width: auto;
}

.barContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  height: 100%;
  min-width: 150px;
  position: relative;
}

#navbarNav{
  display: flex;
  height: 100%;
}

/*------------------------Botones------------------*/

.hButton {
  padding: 5px 20px;
  background-color: var(--primary);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  width: 142px;
  height: 100%;
}

.hButton > ul {
  display: none;
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  top: 100%;
  width: 142px;
}

.hButton a {
  text-decoration: none;
  color: white;
}

.hButton:hover > ul {
  display: block;
}

.hButton:hover {
  border: none;
}

.hButton > ul > li {
  margin: 0;
  list-style: none;
  padding: 5px;
  width: 100%;
  height: 100%;
}

.B_lecciones:hover {
  background-color: var(--orange);
}

.B_exit:hover {
  background-color: var(--cyan);
}

.B_ayuda:hover, .B_ayuda li {
  background-color: var(--pink);
}

.B_perfil {
  background: none;
}

.B_perfil > ul > li:nth-child(1) {
  background-color: var(--yellow);
  color: black;
}

.B_perfil > ul > li:nth-child(2) {
  background-color: var(--orange);
}

.B_ayuda li:nth-child(1) {
  box-shadow: 0 0 0 100px inset rgba(0, 0, 0, 0.205);
}

.B_ayuda li:nth-child(2) {
  box-shadow: 0 0 0 100px inset rgba(0, 0, 0, 0.410);
}

.B_herr:hover, .B_herr li {
  background-color: var(--aquamarina);
}

.B_ayuda li:hover, .B_herr li:hover {
  box-shadow: none;
}

#gifButton {
  display: none;
}

.avatar{
  align-self: center;
  margin-left: 10px;
  height: 100%;
}

/*------------------------Section--------------------------*/

section{
  align-self: center;
  position: relative;
  /* margin-top: 5vh; */
  min-height: 85vh;
  width: 80%;
  min-width: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  margin-bottom: 150px;
}

.main{
  width: 100%;
}

.title{
  color: var(--primary);
}

.titles {
  color: var(--primary);
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding-left: 10%;
}

.titles h1{
  font-size: 2em;
  font-weight: 700;
}

section .roadTitle{
  color: var(--secondary);
  font-size: 2em;
}

/* button, .button{
  background-color: var(--green);
  border-radius: 12px;
  border: 2px solid rgb(140, 140, 140);
  color: white;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  padding: 2px 30px;
  position: relative;
}

.button::before{
  background-color: white;
  content: "";
  position: absolute;
  top: 30%;
  left: 12px;
  width: 10px;
  height: 10px;
  clip-path: polygon(0 0, 100% 50%, 0 100%);
} */

.navigationButtons {
  bottom: 15vh;
  position: fixed;
}

#lPrev {
  transform: rotate(-90deg);
  left: 15px;
}

#lPrev span {
  border-bottom: 40px solid var(--aquamarina);
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  border-top: 0px solid var(--aquamarina);
}

#lSigu {
  transform: rotate(90deg);
  right:15px;
}

#lSigu span {
  border-bottom: 40px solid var(--aquamarina);
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  border-top: 0px solid var(--aquamarina);
}

#logo{
  position: absolute;
  bottom: 5%;
  right: 5%;
  width: 10%;
  height: auto;
  z-index: 1;
}

footer{
  display: flex;
  position: absolute;
  bottom: 0;
  justify-content: center;
  height: auto;
  width: 100%;
  text-align: center;
}

footer p{
  width: 85ch;
  color: var(--primary);
}

/*-----------------------LESSONS----------------------------*/

.titles{
  font-size: 1.7em;
}

.theme{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  z-index: 1;
}

.lessonButton{
  background-color: var(--lessons);
  color: white;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: inset 1px -11px 15px -13px rgba(0,0,0,1);
  -moz-box-shadow: -10px 7px 12px -10px rgb(0, 0, 0);
  box-shadow: -10px 7px 12px -10px rgb(0, 0, 0);
  cursor: pointer;
  padding: 8px 8px;
  margin: 0 5px;
  height: auto;
  width: 125px;
  transition: .3s;
}

.buttons {
  margin: 10px 0 20px 0;
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: .5s;
}

.letra{
  color: var(--lessons);
  -webkit-text-stroke: 2px black;
}

.letra:hover{
  text-shadow: none;
}

.text{
  background-color: var(--lessons);
  color: white;
  box-shadow: -10px 7px 12px -10px rgb(0, 0, 0);
  transition: .5s;
}

.card {
  background-color: var(--lessons);
}

.block {
  background-color: var(--lessons);
  box-shadow: -10px 7px 12px -10px rgb(0, 0, 0);
}

.AnotherButton {
    background-color: var(--secondary);
}

.vocabulary {
  color: var(--lessons);
  -webkit-text-stroke: 1px black;
}

.write {
  background-color: transparent;
  color: green;
  text-align: center;
  border: 0;
  border-radius: 5px;
  font-size: 1em;
  margin: auto;
  width: 30%;
  border-bottom: 2px solid var(--lessons);
}

.itemCon{
  background-color: var(--lessons);
}

/*-------------------------------Translator Screen---------------------*/

.translatorScreen {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.459);
  display: none;
  justify-content: center;
  align-items: center;
}

.translator-activated {
  display: flex;
}

.translateDiv {
  width: 300px;
  height: auto;
  border-radius: 15px;
  background-color: hsl(205, 100%, 49%);
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.translateDiv button {
  width: 150px;
  margin-top: 30px;
  border-radius: 12px;
  background-color: #ff7700;
  box-shadow: none;
  align-self: center;
  border: none;
}

.translateDiv button:hover {
  background-color: hsl(30, 80%, 60%);
}

.translateDiv button:focus {
  background-color: hsl(30, 100%, 40%);
}

.areasContainer {
  width: 100%;
  height: auto;
  display: grid;

  grid-template-columns: 1fr 1fr;
  grid-column-gap: 15px;
  margin-bottom: 30px;
}

.areasContainer textarea {
  width: 100%;
  height: 100px;
  resize: none;
  border-radius: 10px;
}

.exitButton {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: absolute;
  top: calc(8vh + 10px);
  right: 35px;
  cursor: pointer;
}

.line {
  width: 30px;
  height: 2px;
  margin: 5px;
  background-color: red;
}
.exitButton > .line:nth-child(1) {
  transform: rotate(45deg) translate(11px, 1px);
}

.exitButton > .line:nth-child(2) {
  transform: rotate(-45deg) translate(7px, 2px);
}


/*-----------------------------GIF------------------------------------*/

#helpgif{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  align-content: center;
  justify-content: center;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.192);
}

.helpgif {
  display: none;
}

.helpgif-activated {
  display: flex;
}

.flexcont{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*-----------------------------Responsive------------------------------------*/

@media screen and (max-width : 710px){
  header{
    justify-content: space-between;
  }

  header img{
    margin-left: 50px;
  }

  .navbar{
    justify-content: flex-end;
  }

  .barContainer{
    width: 50px;
    position: relative;
  }

  .barContainer:hover #navbarNav {
    display: block;
  }

  #navbarNav{
    display: none;
    position: absolute;
    bottom: -100%;
    left: : -40%;
  }

  #showmenu{
    width: 15px;
    height: 15px;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    cursor: pointer;
    transform: rotateZ(45deg);
    margin-right: 15px;
  }

  .hButton ul{
    left: -100%;
  }

  .B_perfil{
    width: auto;
    margin-right: 10px;
    position: relative;
    padding-left: 0;
  }

  .B_perfil::before{
    content: "";
    background-color: white;
    width: 2px;
    height: 80%;
    border-radius: 12px;
  }

  /* #showmenu:hover + #navbarNav{
    display: block;
  } */
}
