* {
  box-sizing: border-box;
}

#titles {
  color: black;
  align-self: flex-start;
}

.container {
  height: 260px;
  min-width: 320px;
  width: 65%;
  max-width: 1000px;
  display: grid;
  grid-template-columns: .25fr .75fr;
  align-self: flex-start;
  align-items: flex-start;
  grid-column-gap: 30px;
}

.profilePics {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  padding: 5px 0;
}

.pic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  /* background-color: gray; */

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.pic > img {
  width: 100%;
  height: 100%;
}

.profileInf {
  border-radius: 15px;
  padding: 15px;
  position: relative;
  background-color: #FFFF00;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-width: 440px;
}

.profileInf > #selectedPic {
  position: absolute;
  width: 125px;
  height: 125px;
  top: 25px;
  left: 25px;
}

.profileInf > table {
  height: 100%;
  width: 330px;
}

.profileInf .variable {
  text-align: end;
}

.profileInf .value > input {
  border-radius: 5px;
  border: none;
  box-shadow: none;
  padding: 2px 5px;
}

.buttons{
  grid-column: 1/span2;
}

.lessonButton {
  color: black;
}
