*{
  box-sizing: border-box;
}

:root{
  --x: 150px;
  --y: 200px;

  --lessons: blue;
}

body{
  min-height: 100vh;
  margin: 0;
}

.theme{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
}

.theme object{
  min-height: 600px;
  height: 70vh;
  max-height: 1000px;
  width: auto;
  transform: scale(0);
}

.theme .show{
  transform: scale(1);
}

.vocabulary{
  background-color: var(--lessons);
  color: white;
  padding: 10px 15px;
  display: none;
  top: var(--y);
  left: calc(10px + var(--x));
  text-align: center;
  position: absolute;
  min-width: 15ch;
}

#es{
  top: calc(var(--y) + 30px);
}
