.cont_abc{
	/* min-height: 400px; */
	display: flex;
	justify-content: center;
  align-items: center;
	flex-wrap: wrap;
  height: 350px;
	width: 350px;
}

.buttons{
	display: grid;
	grid-template-columns: auto auto;
	justify-content: center;
}

.letra{
	width: 200px;
	height: auto;
	cursor: pointer;
  margin: 10px;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}

#message {
	display: inline-block;
	width: 100%;
	text-align: center;
}

/* .NavButtons {
	display: flex;
} */
