#main{
    min-height: 60vh;
}

.themeLesson {
    width: 250px;
    height: auto;
    display: flex;
    /* grid-template-columns: 1fr 1fr; */
    /* gap: 10px 15px; */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.challenge{
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.les {
    margin-bottom: 20px;
    display: flex;
    width: 95px;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    text-align: center;
}

.lesImage {
    background-color: white;
    height: 75px;
    width: 75px;
    border: 2px solid black;
    border-radius: 50%;
    overflow: hidden;
}

.lesImage img {
    height: 100%;
    width: 100%;
}

.dis {
    opacity: 0.7;
}


@media only screen and (min-width: 650px) {
    .themeLesson {
        width: 450px;
        margin-top: 40px;
    }
}

@media only screen and (min-width: 1020px) {

    .themeLesson {
        width: 900px;
        margin-top: 80px;
    }

    .les {
        margin: 0px 30px 20px 30px;
    }
}
