* {
    box-sizing: border-box;
    /* font-family: comic, "comic sans ms", arial */
}

@import url('https://fonts.googleapis.com/css?family=Mali|Roboto&display=swap');

:root{
  --primary: #007BBF;
  --secondary: #0B307F;
  --green: #8EC134;

  --yellow: #F9CF00;
  --orange: #EE6F2A;
  --pink: #EB4D8A;
  --cyan: #00BBE8;
  --blue: #007BBF;
  --purple: #9592C9;
  --aquamarina: #00AC92;
}

body {
  height: auto;
  margin: 0;
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  overflow-x: hidden;
  user-select: none;
  -webkit-font-smoothing: antialiased !important;
  /* -webkit-text-stroke: 0.3px white !important;
  -moz-osx-font-smoothing: grayscale !important; */
  font-smooth: always !important;
  font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  text-rendering: optimizeLegibility;
}

a{
  text-decoration: none;
  color: initial;
}

.bActive{
  display: flex;
}

/* Tamaño del scroll */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

 /* Estilos barra (thumb) de scroll */
::-webkit-scrollbar-thumb {
  background: #979797;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

 /* Estilos track de scroll */
::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}

/*----------------------------------HEADER------------------------------------------------*/


.menuIcon {
  height: 30px;
  width: 30px;
  position: fixed;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  margin: 7px 10px;
  cursor: pointer;
  transition: .5s ease;
  z-index: 161;
}

.line{
  position: relative;
  display: flex;
  width: 30px;
  height: 2px;
  padding: 1px;
  border-radius: 12px;
  margin: 2px 0;
  transition: 0.5s;
}

.change{
  overflow: hidden !important;
}

.change .menuIcon, .exitButton {
  transform: translate(75vw, 0);
}

.change #b1, .exitButton #b8 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-10px, 16px);
}

.change #b2, .exitButton #b9 {
  transform: translate(-75px);
  opacity: 0;
}

.change #b3, .exitButton #b10 {
  width: 30px;
  -webkit-transform: rotate(45deg) translate(-7px, -6px);
  transform: rotate(45deg) translate(4px, -1px);
  box-shadow: none !important;
  /* box-shadow: 0px 6px 11px 0px rgb(0, 0, 0) !important; */
}

.change #Lessons {
  transform: scale(1,1);
}

#Lessons{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  overflow-x: hidden;
  top: 0px;
  left: 0px;
  position: fixed;
  height: 100vh;
  padding: 0;
  z-index: 160;
  overflow-y: auto;
  overflow-x: hidden;
  transform: scale(0,1);
}

.fondo_aqua {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  align-self: flex-end;
  height: 300px;
  width: 100%;
  z-index: 2;
}

.fondo_aqua img {
  width: 100%;
  height: auto;
}

#Lessons h1 {
  width: 100%;
  text-align: center;
}

.ThemesTitle {
  font-size: 250%;
}

#profile{
  position: fixed;
  right: 10px;
  top: 17px;
  border-radius: 12px;
  min-width: 70px;
  min-height: 37px;
  width: 40px;
  height: 20px;
  max-width: 170px;
  max-height: 150px;
  z-index: 150;
}

.profile{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.usericon{
  display: flex;
  /* align-items: center; */
  justify-content: center;
  height: auto;
  min-width: 30px;
  width: 50%;
  max-width: 150px;
  max-height: 100%;
  margin-left: 2px;
  border-radius: 25px;
  background-color: rgba(0,125,255,.8);
  cursor: pointer;
}

#dropdown{
  /* height: 0; */
  margin: 0;
  padding: 0;
  min-height: 60px;
  height: 135%;
  width: 100%;
  position: absolute;
  top: 25px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  list-style: none;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  text-align: center;
  transform: scale(1,0);
  text-decoration: none;
  transition: .5s;
  transform-origin: top;
  z-index: -1;
}

#dropdown li{
  min-width: 100%;
  min-height: 22px;
}

#b4{
  cursor: pointer;
  margin-left: 10%;
  font-size: 44px;
  transition: .5s;
  transform: rotate(270deg);
}

/* #b5{
  position: absolute;
  right: 5px;
  top: 0px;
  height: 3px;
  width: 10px;
  transform: rotate(315deg);
} */

.drop #dropdown{
  transform: scale(1, 1);
}

.drop li {
  border: 2px solid black;
  border-top: none;
}

.drop li:first-child {
  border: 2px solid black;
}

.drop li:last-child {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.drop li:hover {
  background-color: hsl(30, 100%, 70%);
}

.drop #b4{
  transform: translate(0px , -10px) rotate(270deg);
}

/*--------------------------PET------------------------------------*/
.pet {
  width: 100px;
  height: 75px;
  position: fixed;
  top: 30px;
  left: 50%;
}

.pet img:hover {
  opacity: 0;
}

.pet img {
  width: 100%;
  height: 100%;
  transition: .5s ease;
}

/*-----------------------------Themes' Road------------------------*/
.GridLessons {
  margin-top: 25px;
  margin-bottom: -250px;
  width: 300px;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  z-index: 5;
}

#nada {
  grid-area: 2 / 1 / 3 / 3;
}

#nada::after{
  content: "";
  width: 100%;
  position: absolute;
  border-radius: 50%;
}

#nada1 {
  grid-area: 4 / 2 / 5 / 4;
}

#nada2 {
  grid-area: 6 / 1 / 7 / 3;
}

#nada3 {
  grid-area: 8 / 2 / 9 / 4;
}

#nada4 {
  grid-area: 10 / 1 / 11 / 3;
}

#theme4 {
  grid-area: 3 / 3 / 4 / 4;
}

#theme5 {
  grid-area: 3 / 2 / 4 / 3;
}

#theme12 {
  grid-area: 7 / 3 / 8 / 4;
}

#theme13 {
  grid-area: 7 / 2 / 8 / 3;
}

.themeRoad {
  padding: 5px 5px;
  height: 90px;
  width: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.svgContainer{
  height: 80%;
  display: flex;
}

.themeRoad img {
  transition: .5s ease;
}

.themeRoad:hover {
  overflow: visible;
}

.themeRoad:hover img {
  transform: scale(1.7, 1.7);
  z-index: 10;
}

.start {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border: 3px solid rgb(16, 0, 59);
  border-top: none;
  border-bottom: none;
  border-left: none;
}

.start h1{
  margin: 0;
}

.start::before, .end::before{
  content: "";
  border-radius: 100px;
  position: absolute;
  width: 135px;
  height: 120px;
  border: 3px solid rgb(16, 0, 59);
  z-index: -1;
}

.end {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 89px;
  grid-area: 10 / 3 / 11 / 4;
  border: none;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.end::before{
  width: 120px;
  height: 135px;
}

#theme2, #theme10, #theme18 {
  border-top-right-radius: 50%;
}


#theme4, #theme12 {
  border-bottom-right-radius: 50%;
}

#theme6, #theme14 {
  border-top-left-radius: 50%;
}

#theme8, #theme16 {
  border-bottom-left-radius: 50%;
}

#theme1, #theme5, #theme9, #theme13, #theme17 {
  border-right: none;
  border-left: none;
}

#theme3, #theme7, #theme11, #theme15, #theme19 {
  border-top: none;
  border-bottom: none;
}

/*------------------------------Current Lesson Screen----------------------------*/

.welcome {
  width: 100%;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.cont_abc{
  margin: 50px 0px;
}

.home {
  margin: 0 0 5% 0;
  width: 80%;
  min-height: 65vh;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;
  align-items: flex-start;
}

.home .logo {
  width: 85px;
  height: 85px;
}

.play{
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: flex-end;
}

#start{
  border: 0;
  width: 200px;
  padding: 10px;
}

.titles{
  margin-top: 55px;
  text-align: center;
  padding: 0;
}

.titles h1{
  margin: 0;
  font-size: 1.2em;
}

.titles span{
	font-size: .6em !important;
}

.theme{
  max-width: 400px;
  height: auto;
  width: auto;
  min-width: 10vw;
  min-height: 40vh;
  display: flex;
  justify-content: center;
}

.description{
  text-align: center;
  padding: 0 10px;
}

.buttons {
  margin-bottom: 20px;
  height: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: .5s;
}

.lessonButton {
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  padding: 8px 8px;
  height: auto;
  width: 125px;
  transition: .3s;
}

.welcome span{
  margin: 5px;
  width: auto;
  font-size: 175%;
  text-align: center;
}


#reset {
  box-shadow: none;
  border-radius: 12px;
  border: 0;
  background-color: hsl(28, 100%, 50%);
  color: white;
  padding: 7px 12px;
}

#reset:hover {
  background-color: hsl(28, 80%, 60%);
}
/*---------------------------Contextual Buttons-----------------------*/

.helpButton {
  position: fixed;
  border-radius: 25px;
  cursor: pointer;
  min-width: 30px;
  min-height: 30px;
  height: 5vw;
  width: 5vw;
  max-width: 50px;
  max-height: 50px;
  left: 10px;
  top: 100px;
  z-index: 150;
  box-shadow: -10px 7px 7px -10px rgb(0,0,0)
}

.helpButton div {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 25px;
  top: 0;
  left: 0;
  transition: .5s;
  z-index: 3;
}

#help {
  z-index: 4;
}

.fullmenu #helpVideo {
  transform: translate(150%) rotate(360deg);
  box-shadow: -10px 7px 7px -10px rgb(0,0,0)
}

.fullmenu #translator {
  transform: translate(300%) rotate(720deg);
  box-shadow: -10px 7px 7px -10px rgb(0,0,0)
}

/*------------------------------Help Gif----------------------------------------*/

#helpgif{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  align-content: center;
  justify-content: center;
  transform: scale(0,0);
  transition: .5s ease;
  z-index: 162;
}

.x{
  position: absolute;
  right: 30px;
  height: 50px;
  width: 50px;
  z-index: 10;
  cursor: pointer;
}

#b6{
  transform: rotate(45deg) translate(17px, 10px);
}

#b7{
  transform: rotate(315deg) translate(-5px, 13px);
}

.flexcont{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexcont img{
  max-width: 800px;
  max-height: 90vh;
}
/*-------------------------------Translator Screen---------------------*/

.translatorScreen {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.459);
  z-index: 10;
  display: none;
  justify-content: center;
  align-items: center;
}

.translator-activated {
  display: flex;
}

.translateDiv {
  width: 300px;
  height: auto;
  border-radius: 15px;
  background-color: hsl(205, 100%, 49%);
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.translateDiv button {
  width: 150px;
  margin-top: 30px;
  border-radius: 12px;
  background-color: #ff7700;
  box-shadow: none;
  align-self: center;
  border: none;
}

.translateDiv button:hover {
  background-color: hsl(30, 80%, 60%);
}

.translateDiv button:focus {
  background-color: hsl(30, 100%, 40%);
}

.areasContainer {
  width: 100%;
  height: auto;
  display: grid;

  grid-template-columns: 1fr 1fr;
  grid-column-gap: 15px;
  margin-bottom: 30px;
}

.areasContainer textarea {
  width: 100%;
  height: 100px;
  resize: none;
  border-radius: 10px;
}

/*---------------------------Navigation Buttons-----------------------*/

.NavButtons {
  display: none;
  position: fixed;
  bottom: 75px;
  min-width: 30px;
  min-height: 30px;
  height: 5vw;
  width: 5vw;
  max-width: 80px;
  max-height: 80px;
  flex-wrap: nowrap;
  z-index: 2;
}

.navbutton {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
}

#next{
  right: 10px;
}

#last{
  left: 10px;
}

.navbutton a{
  display: flex;
  align-self: center;
  font-size: 150%;
  z-index: 1;
  text-shadow: -3px 5px 10px rgb(0,0,0)
}


/*---------------------------VICTORY MESSAGE---------------------------*/

#victoryScreen {
  top: 85px;
  right: 0;
  position: fixed;
  /* background-color: hsla(0, 0%, 0%, 0.301); */
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(300px, 0);
  transition: 1.5s;
  cursor: pointer;
}

.victoryMessage {
  text-align: center;
}

.victoryMessage h2 {
  width: 100%;
}

.victoryMessage img {
  width: 150px;
  height: 100px;
}

.victoryDiv {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}

/* .victorybuttons {
  text-align: center;
  cursor: pointer;
  color: black;
  height: 75px;
  width: 100%;
  background-color: rgb(82, 82, 82);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.victoryButton {
  background-color: rgb(173, 173, 173);
  width: 100px;
  height: 30px;
} */

/*-----------------------------General inputs (for lessons)--------------*/


.write{
	text-align: center;
	border: 0;
  border-radius: 5px;
  font-size: 1.2em;
	margin: auto;
	width: 30%;
}


/*------------------------------FOOTER------------------------------------*/

.footer{
  width: 100vw;
  height: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 12px;
}

.select{
  align-self: flex-end;
  margin-right: 10%;
}


/*------------------------------TABLET RESPONSIVE-----------------------------------------*/

@media only screen and (min-width: 650px) {
  /*----------------------------Themes' Road------------------------*/

  .change .menuIcon, .exitButton {
    transform: translate(85vw, 0);
  }

  .GridLessons {
    margin-bottom: -100px;
    width: 500px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
  }

  .themeRoad {
    height: 100px;
  }

  #nada {
    grid-area: 2 / 1 / 3 / 5 ;
  }

  #nada1 {
    grid-area: 4 / 2 / 5 / 6 ;
  }

  #nada2 {
    grid-area: 6 / 1 / 7 / 5 ;
  }

  #nada3, #nada4 {
    display: none;
  }

  /*-------------Reordenar temas--------------*/

  #theme4, #theme5, #theme12, #theme13 {
    grid-area: auto;
  }

  #theme6 {
    grid-area: 3 / 5 / 4 / 6 ;
  }

  #theme7 {
    grid-area: 3 / 4 / 5 / 5 ;
  }

  #theme8 {
    grid-area: 3 / 3 / 5 / 4 ;
  }

  #theme9 {
    grid-area: 3 / 2 / 5 / 3 ;
  }

  #theme18 {
    grid-area: 7 / 5 / 8 / 6 ;
  }

  /*---------------Rediseñar temas------------*/
  .start {
    border-right: none;
  }

  .start::before{
      width: 150px;
      height: 123px;
  }

  .end::before{
    width: 150px;
    height: 123px;
    top: auto;
    right: auto;
  }

  #theme2, #theme10, #theme18, #theme4, #theme12, #theme6, #theme14, #theme8, #theme16 {
    border-radius: 0%;
  }

  #theme4, #theme16 {
    border-top-right-radius: 50%;
  }

  #theme6, #theme18 {
    border-bottom-right-radius: 50%;
  }

  #theme10 {
    border-top-left-radius: 50%;
  }

  #theme12 {
    border-bottom-left-radius: 50%;
  }

  #theme1, #theme2, #theme3, #theme4, #theme6, #theme7, #theme8, #theme9, #theme13, #theme14, #theme15, #theme16, #theme18 {
    border: 3px solid rgb(16, 0, 59);
  }

  #theme3, #theme7, #theme15 {
    border-right: none;
  }

  #theme9, #theme13{
    border-left: none;
  }

  #theme2, #theme8, #theme14 {
    border-right: none;
    border-left: none;
  }

  #theme5, #theme11, #theme17 {
    border: 3px solid rgb(16, 0, 59);
    border-bottom: none;
    border-top: none;
  }

  .end {
    border-radius: 0%;
    grid-area: 7 / 4 / 8 / 5 ;
    border-left: 3px solid rgb(16, 0, 59);
    height: 100px;
    border: none;
  }

  /*--------- Rediseñando section ---------------*/

  .titles {
    margin-top: 15px;
    font-size: 2em;
  }

  .navbutton a{
    font-size: 250%;
  }

  .home .logo {
    width: 150px;
    height: 150px;
  }
}

/*-------------------------------------------PC Responsive-------------------------------------------*/

@media only screen and (min-width: 1020px) {

  #profile {
    min-width: 100px;
    min-height: 54px;
  }

  .drop #dropdown{
    min-height: 90px;
    height: 140%;
  }

  .GridLessons {
    margin-bottom: -20vh;
    width: 1001px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .themeRoad {
    height: 143px;
    width: 143px;
  }


  /*-------------------Reordebar Temas----------------*/

  #nada {
    grid-area: 2 / 1 / 3 / 7 ;
  }

  #nada1 {
    grid-area: 4 / 2 / 5 / 8 ;
  }

  #nada2, #nada3, #nada4 {
    display: none;
  }

  #theme6 ,#theme7, #theme8, #theme9, #theme18{
    grid-area: auto;
  }

  #theme8 {
    grid-area: 3 / 7 / 4 / 8 ;
  }

  #theme9 {
    grid-area: 3 / 6 / 4 / 7 ;
  }

  #theme10 {
    grid-area: 3 / 5 / 4 / 6 ;
  }

  #theme11 {
    grid-area: 3 / 4 / 4 / 5 ;
  }

  #theme12 {
    grid-area: 3 / 3 / 4 / 4 ;
  }

  #theme13 {
    grid-area: 3 / 2 / 4 / 3 ;
  }
  .end {
    border-radius: 0%;
    grid-area: 5 / 4 / 6 / 5 ;
    height: 143px;
    width: 143px;
  }

  /*---------------Rediseñar temas------------*/

  .start {
    border-right: none;
  }

  .start::before{
      width: 206px;
      height: 176px;
  }

  .end::before{
    width: 206px;
    height: 176px;
    top: auto;
    right: auto;
  }

  #theme4, #theme6, #theme10, #theme12, #theme16, #theme18 {
    border-radius: 0%;
  }

  #theme6 {
    border-top-right-radius: 50%;
  }

  #theme8 {
    border-bottom-right-radius: 50%;
  }

  #theme14 {
    border-top-left-radius: 50%;
  }

  #theme16 {
    border-bottom-left-radius: 50%;
  }

  #theme5, #theme3, #theme7, #theme14, #theme8, #theme9, #theme11, #theme15, #theme17{
    border: 3px solid rgb(16, 0, 59);
  }

  #theme7, #theme15 {
    border-top: none !important;
    border-bottom: none !important;
  }

  #theme5, #theme9 {
    border-right: none !important;
  }

  #theme13 {
    border-left: none !important;
  }

  #theme10, #theme12, #theme17, #theme2, #theme4 {
    border-right: none !important;
    border-left: none !important;
  }

  /*--------- Rediseñando section ---------------*/

  .titles{
    font-size: 2.8em;
  }

  .home {
    width: 60%;
  }

  .home .logo {
    width: 250px;
    height: 141px;
  }


  /*--------- Botones de Navagación ---------------*/

  .NavButtons {
    bottom: unset;
    top: 30%;
    height: 300px;
    max-height: unset;
  }

  .NavButtons div {
    border-radius: 0%;
    border: none;
    height:100%;
  }

  #last {
    left: 0px;
  }

  #next {
    right: 0px;
  }
}
