html .theme1{
  background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(../img/themes/fondo.webp) !important;
  background-size: cover;
  background-repeat: no-repeat !important;
  background-position: top center !important;
}

.cont_abc{
  width: 80vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 50px 0;
}

.pics{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}

#pPicture{
  width: 180px;
}

#profilePic img{
  background-color: rgba(0,125,255,.8);
  border-radius: 25px;
}

#profilePic{
  /* border-radius: 25px; */
}

#ColPic{
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 30px 50px;
}

.Info{
  display: grid;
  padding: 10px;
  background-color: hsla(41, 100%, 69%,0.7);
  grid-template-columns: 50% 50%;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  font-size: 1em;
  box-shadow: -8px 8px 12px -10px rgb(0, 0, 0);
}

.titles{
  margin-bottom: 0;
}

.col{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#personalData{
  margin-left: 10px;
  justify-content: center;
}

.input{
  margin-bottom: 5px;
}

.write{
  display: block;
  width: 100%;
}

@media only screen and (min-width: 650px) {
  .Info{
    width: 50%;
  }

  .pics{
    width: 23%;
  }

  #ColPic{
    margin: 0 0 0 30px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

@media only screen and (min-width: 1020px) {
  .Info{
    font-size: 1.5em;
  }

  .input{
    margin: 0;
    height: 1.4em;
  }

  #personalData{
    margin-top: 17px;
    font-size: 1em;
  }
}
