/*------------------Theme1-------------------------------------------------
----------------------------------------------------------------------------*/


.theme1{
  font-family: "comic sans ms", 'Mali', 'Roboto';
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff7f00+1,ff7700+25,f2f9fe+25,f2f9fe+75,0093fc+75,0093fc+75,0021ff+100 */
  background: #ff7f00; /* Old browsers */
  background: -moz-linear-gradient(left,  #ff7f00 1%, #ff7700 25%, #f2f9fe 25%, #f2f9fe 75%, #0093fc 75%, #0093fc 75%, #0021ff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #ff7f00 1%,#ff7700 25%,#f2f9fe 25%,#f2f9fe 75%,#0093fc 75%,#0093fc 75%,#0021ff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, rgba(255,127,0,1) 1%, rgba(255,127,0,1) 15%, rgba(255, 255, 255, 0.2) 15%, rgba(255, 255, 255, 0.2) 85%,#0093fc 80%,#0093FC 100%) fixed, url(../img/fondo2.webp) repeat center fixed rgba(255,255,255,0.2); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-size: cover;
  min-height: 100vh;
  background-position: center;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

.home-background{
  background: linear-gradient(45deg, rgba(255,127,0,1) 1%, rgba(255,127,0,1) 15%, rgba(255, 255, 255, 0.2) 15%, rgba(255, 255, 255, 0.2) 85%,#0093fc 80%,#0093FC 100%) fixed, url(../img/fondo1.webp)
  no-repeat center fixed; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-size: cover;
}

.theme1 .line{
  background-color:  #FF4545;
  border: 1px solid black;
}

.theme1 #b2, .theme1 #b3{
  box-shadow: -5px 2px 11px 0px rgb(0, 0, 0);
}

.theme1 #Lessons{
  background-image: url(../img/pet/burbujas.webp), linear-gradient(rgb(0, 240, 240), rgb(0, 150, 150) 40%, rgb(0, 85, 85));
  background-repeat: repeat, no-repeat;
  background-size: 650px, cover;
}

.theme1 #Lessons h1 {
  color: white;
  -webkit-text-stroke: 2px black;
}

.theme1 #profile{
  background-color: rgba(255,127,0,1);
  box-shadow: -5px 5px 11px -3px rgb(0, 0, 0);
}

.theme1 #dropdown{
  background-color: rgba(255,127,0,1);
  box-shadow: -5px 9px 14px -6px rgb(0, 0, 0);
}

.theme1 .themeRoad {
  /* background-color: #EE8320; */
  /* background-color: hsl(0, 0%, 90%); */
  background-color: #f2f9fe;
  /* background-color: rgba(255,127,0,1); */
  border: 3px solid rgb(16, 0, 59);
  color: black;
  box-shadow: 0px 7px 12px -0px rgb(0, 0, 0);
}

.theme1 .start {
  font-size: 80% !important;
  color: white;
}

.start::before{
  /* background-color: #1C89DB; */
  background-color: hsl(0, 100%, 64%);
  box-shadow: 0px 7px 12px 0px rgb(0, 0, 0);
}

.theme1 .end::before{
  background-color: #3DE851;
  box-shadow: 0px 7px 12px 0px rgb(0, 0, 0);
}

 .theme1 #theme1, .theme1 #theme3, .theme1 #theme5, .theme1 #theme7, .theme1 #theme9, .theme1 #theme11, .theme1 #theme13, .theme1 #theme15, .theme1 #theme17, .theme1 #theme19 {
  /* background-color: rgb(255, 255, 255) */
  /* background-color: #1C89DB; */
  background-color: #0093fc;
   /* hsl(261, 45%, 23%); */
}

.theme1 #theme18{
  box-shadow: none;
}

.theme1 #b4{
  color: #FF4545;
  -webkit-text-stroke: 1px black;
}

 .theme1 #helpgif{
  background-color: rgba(0, 0, 0, 0.85);
}

 .theme1 .titles h1{
  -webkit-text-stroke: 2px black;
  color:  #FF4545;
}

 .theme1 .description{
  color: #FF4545;
  -webkit-text-stroke: 2px black;
}

.theme1 .lessonButton {
  background-color: #0093fc;
  color: white;
  -webkit-box-shadow: inset 1px -11px 15px -13px rgba(0,0,0,1);
  -moz-box-shadow: -10px 7px 12px -10px rgb(0, 0, 0);
  box-shadow: -10px 7px 12px -10px rgb(0, 0, 0);
}

.theme1 #reset{
  box-shadow: -10px 7px 12px -10px rgb(0, 0, 0);
}

/* .theme1 .lessonButton:hover{
  box-shadow: inset 1px -11px 15px -13px rgba(0,0,0,1);
} */

.theme1 .helpButton div{
  border: 1px solid black;
}

.theme1 .navbutton span{
  /* color: #1C89DB; BLUE */
  color: #FF4545;
  font-size: 64px;
  -webkit-text-stroke: 2px black;
}


/*-----------------LESSONS-------------------*/

/*ABC*/

.theme1 .letra {
    color: #1C89DB;
    -webkit-text-stroke: 2px black;
    background-color: black;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    /* -webkit-text-shadow: 1px -11px 44px -13px rgba(0,0,0,1);
    -moz-text-shadow: -1px -11px 44px -13px rgba(0,0,0,1); */
    text-shadow: -3px 5px black;
}

.theme1 .letra:hover{
  color: #FF4545;
  -webkit-text-stroke: 2px black;
  text-shadow: none
}

/*Connect*/

.theme1 .text{
    background-color: #0093fc;
    color: white;
    box-shadow: -10px 7px 12px -10px rgb(0, 0, 0);
    transition: .5s;
}

/*Connect con imagenes*/

.itemCon{
  box-shadow: -10px 7px 12px -10px rgb(0, 0, 0);
}

/*Memory*/

.theme1 .card {
    background-color: rgb(173, 216, 230);
}

.theme1 .block {
    background-color: #0093fc;
    box-shadow: -10px 7px 12px -10px rgb(0, 0, 0);
}

.theme1 .AnotherButton {
    background-color: rgb(255, 0, 102);
}

.theme1 .vocabulary {
    color: #FF4545;
    -webkit-text-stroke: 1px black;
}

.theme1 .write {
  background-color: transparent;
  color: green;
  border-bottom: 1px solid #0093fc;
}

.theme1 .itemCon{
  background-color: #0093fc;
}

@media only screen and (min-width: 650px) {
  .theme1 #theme18{
    box-shadow: 0px 7px 12px -0px rgb(0, 0, 0);
  }

  .theme1 .text{
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 1020px) {
  .theme1 .text{
    font-size: 2em;
  }
}

/*------------------Theme 2-------------------------------------------------
----------------------------------------------------------------------------*/


/*#95CBE7 BLUE
  #9BD394 Green
  #E18CA3 Pink
*/

.theme2{
  font-family: "comic sans ms", arial;
  -webkit-text-stroke: 2px black;
}

.theme2 .line{
  background-color:  #E18CA3;
}

.theme2 #Lessons{
  background: linear-gradient(rgb(0, 240, 240), rgb(0, 150, 150) 40%, rgb(0, 85, 85));
}

.theme2 #Lessons h1 {
  /* font-family: 'Dosis', sans-serif; */
  color: white;
}

.theme2 .themeRoad {
  background-color: #EE8320;
  border: 3px solid rgb(16, 0, 59);
  color: black;
}

.theme2 .start {
  font-size: 100% !important;
  color: white;
  background-color: #003333;
  border: 3px solid rgb(16, 0, 59);
}

.theme2 .end {
  background-color: green;
  border: 3px solid rgb(16, 0, 59);
}

 .theme2 #theme2, .theme2 #theme3, .theme2 #theme5, .theme2 #theme7, .theme2 #theme9, .theme2 #theme21, .theme2 #theme23, .theme2 #theme25, .theme2 #theme27, .theme2 #theme29 {
  background-color: rgb(255, 255, 255)
}

 .theme2 #helpgif{
  background-color: rgba(0, 0, 0, 0.1, .85);
}

 .theme2 .titles{
  color:  #9BD394;
}

 .theme2 .description{
  color: #9BD394;
}

.theme2 .lessonButton {
  background-color: #95CBE7;
  color: white;
}

/*.theme2 .navbutton {
  background-color:  #1C89DB;
}*/

.theme2 .navbutton span{
  color: #E18CA3;
  font-size: 64px;
}

@media only screen and (min-width: 650px) {
  .theme2 #theme2, .theme2 #theme2, .theme2 #theme3, .theme2 #theme4, .theme2 #theme5, .theme2 #theme6, .theme2 #theme7, .theme2 #theme8, .theme2 #theme9, .theme2 #theme21, .theme2 #theme23, .theme2 #theme24, .theme2 #theme25, .theme2 #theme26, .theme2 #theme27, .theme2 #theme28 {
    border-color: rgb(16, 0, 59);
  }

  .theme2 .end {
    border-color: rgb(16, 0, 59);
  }
}

/*-----------------LESSONS-------------------*/

/*ABC*/

.theme2 .letra {
    color:  #E18CA3;
}

.theme2 .letra:hover{
  color: #E18CA3;
}

/*Connect*/

.theme2 .text {
    background-color:  #95CBE7;
    color: white;
}

/*Connect with image (POR TRABAJAR)*/

/*Connect with photos (POR TRABAJAR)*/

/*Memory*/

.theme2 .card {
    background-color: rgb(173, 216, 230);
}

.theme2 .block {
    background-color: rgb(255, 0, 102);
}

.theme2 .AnotherButton {
    background-color: rgb(255, 0, 102);
}

.theme2 .vocabulary {
    color: #FF4545;
}

.theme2 .write {
    color: green;
    border-bottom: 1px solid #0774d9;
}

/*------------------------COLORS----------------------------------*/


/*
#FEF590 yellow

#48D0C2 green yellow

#CF99FE blue violet*/

/*
#CF99FE BLUE

  #9BD394 Green
  #E18CA3 Pink

#48D0C2 green yellow

#CF99FE blue violet
*/

/*------------------Theme 3-------------------------------------------------
----------------------------------------------------------------------------*/

.theme3{
  font-family: "comic sans ms", arial;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#cf99fe+0,cf99fe+25,ffffff+25,ffffff+25,ffffff+25,ffffff+75,ff7700+75,ff7f00+99 */
  background: #cf99fe; /* Old browsers */
  background: -moz-linear-gradient(left,  #cf99fe 0%, #cf99fe 25%, #ffffff 25%, #ffffff 25%, #ffffff 25%, #ffffff 75%, #ff7700 75%, #ff7f00 99%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #cf99fe 0%,#cf99fe 25%,#ffffff 25%,#ffffff 25%,#ffffff 25%,#ffffff 75%,#ff7700 75%,#ff7f00 99%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg,  #cf99fe 0%,#cf99fe 25%,#ffffff 25%,#ffffff 25%,#ffffff 25%,#ffffff 75%,#ff7700 75%,#ff7f00 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.theme3 .line{
  /* background-color:  #CF99FE; MORADO */
  background-color: #FF4545;
  padding: 1px;
  border-radius: 12px;
  border: 0.01px solid black;
}

.theme3 #b4{
  color: #FF4545;
  -webkit-text-stroke: 1px black;
}

.theme3 #Lessons{
  background: linear-gradient(rgb(0, 240, 240), rgb(0, 150, 150) 40%, rgb(0, 85, 85));
}

.theme3 #Lessons h1 {
  /* font-family: 'Dosis', sans-serif; */
  color: white;
  -webkit-text-stroke: 2px black;
}

.theme3 .themeRoad {
  background-color: #EE8320;
  border: 3px solid rgb(16, 0, 59);
  color: black;
}

.theme3 .start {
  font-size: 100% !important;
  color: white;
  background-color: #003333;
  border: 3px solid rgb(16, 0, 59);
}

.theme3 .end {
  background-color: green;
  border: 3px solid rgb(16, 0, 59);
}

.theme3 #theme3, .theme3 #theme3, .theme3 #theme5, .theme3 #theme7, .theme3 #theme9, .theme3 #theme31, .theme3 #theme33, .theme3 #theme35, .theme3 #theme37, .theme3 #theme39 {
  background-color: rgb(255, 255, 255);
}

.theme3 .helpButton div{
  border: 1px solid black;
}

 .theme3 #helpgif{
  background-color: rgba(0, 0, 0, 0.85);
}

 .theme3 .titles{
  color:  #FEF590;
  -webkit-text-stroke: 2px black;
}

 .theme3 .description{
  color: #FEF590;
  -webkit-text-stroke: 2px black;
}

.theme3 .lessonButton {
  background-color: #FF4545;
  border: 2px solid black;
  color: white;
}

/*.theme3 .navbutton {
  background-color:  #1C89DB;
}*/

.theme3 .navbutton span{
  /* color: #CF99FE;  MORADO*/
  color: #FF4545;
  font-size: 64px;
  -webkit-text-stroke: 2px black;
}

@media only screen and (min-width: 650px) {
  .theme3 #theme1, .theme3 #theme2, .theme3 #theme3, .theme3 #theme4, .theme3 #theme5, .theme3 #theme6, .theme3 #theme7, .theme3 #theme8, .theme3 #theme9, .theme3 #theme10, .theme3 #theme11, .theme3 #theme13, .theme3 #theme14, .theme3 #theme15{
    border-color: rgb(16, 0, 59);
  }

  .theme3 #theme16, .theme3 #theme16{
    border-color: rgb(16, 0, 59);
  }

  .theme3 .end {
    border-color: rgb(16, 0, 59);
  }
}

/*-----------------LESSONS-------------------*/

/*ABC*/

.theme3 .letra {
    color:  #48D0C2;
    -webkit-text-stroke: 2px black;
}

.theme3 .letra:hover{
  color: #48D0C2;
}

/*Connect*/

.theme3 .text {
    background-color:  #48D0C2;
    color: black;
    border: 2px solid black;
}

/*Connect with image (POR TRABAJAR)*/

/*Connect with photos (POR TRABAJAR)*/

/*Memory*/

.theme3 .card {
    background-color: rgb(173, 216, 230);
}

.theme3 .block {
    background-color: rgb(255, 0, 102);
}

.theme3 .AnotherButton {
    background-color: rgb(255, 0, 102);
}

.theme3 .vocabulary {
    color: #FF4545;
    -webkit-text-stroke: 2px black;
}

.theme3 .write {
    color: green;
    border-bottom: 1px solid #0774d9;
}
