.cont_abc{
	min-height: 400px;
	display: flex;
	justify-content: center;
  align-items: center;
	flex-wrap: wrap;
  height: 400px;
	width: 100%;
}

.buttons{
	display: grid;
	grid-template-columns: auto auto;
  justify-content: center;
  z-index: 2;
	/* align-items: center; */
}

.letra{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 400px;
	width: 400px;
	cursor: pointer;
  margin: 10px;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}

.letra img{
	min-width: 300px;
	min-height: 300px;
	max-width: 400px;
	max-height: 400px;
}

.letra:hover{
  color: navy;
}

/* .NavButtons {
	display: flex;
} */
