.cont_abc{
	display: flex;
	justify-content: center;
  align-items: center;
	flex-wrap: nowrap;
  max-height: 400px;
	max-width: 400px;
	margin: 15px;
}

.contain{
	width: 100vw;
}

.vocabulary{
	width: 300px;
	font-size: 2em;
	text-align: center;
}

.letra{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	cursor: pointer;
	height: 400px;
	width: 400px;
	transform: scale(0,0);
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}

.letra img{
	min-width: 300px;
	min-height: 300px;
	width: 100%;
	height: 100%;
	max-width: 400px;
	max-height: 400px;
}

.active{
	transform: scale(1,1);
}

.buttons{
	display: grid;
	grid-template-columns: auto auto;
	justify-content: center;
	height: 50px;
}

.lessonButton {
	border-radius: 3px;
	padding: 15px 45px;
}

#btnIzq > .navigationButtons {
	border-bottom: 22px solid white;
	border-right: 14px solid transparent;
	border-left: 14px solid transparent;
	border-top: 0px solid white;
	transform: rotate(-90deg);
	position: unset;
	bottom: unset;
}

#btnDer > .navigationButtons {
	border-bottom: 22px solid white;
	border-right: 14px solid transparent;
	border-left: 14px solid transparent;
	border-top: 0px solid white;
	transform: rotate(90deg);
	position: unset;
	bottom: unset;
}

@media screen and (max-width: 400px) {
	.cont_abc{
		max-width: 300px;
	}

	.letra {
		height: 300px;
		width: 300px;
	}

	.letra img{
		max-width: 300px;
	}
}
