* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100vh;
}

.main {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#optionsLetters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.letter {
  color: var(--lessons);
  cursor: pointer;
  font-family: 'Myriad Pro Bold';
  font-size: 150%;
}
