.cont_abc{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 60vh;
  /* -webkit-text-stroke: 1px black; */
}

#mainLetter{
  color: var(--lessons);
  font-family: 'Myriad Pro Bold';
  text-rendering: geometricPrecision;
  font-size: 3.4em;
  width: 100%;
  text-align: center;
  text-shadow: 0px 3px black;
  margin-bottom: 30px;
}

#mainLetter > img{
  max-width: 200px;
  max-height: 300px;
  margin-top: 20px;
}

#optionsLetters {
  min-width: 300px;
  width: 100%;
  max-width: 1000px;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 30px;
}

.letter {
  color: var(--lessons);
  cursor: pointer;
  font-weight: 900;
  text-align: center;
  text-rendering: geometricPrecision;
  font-family: 'Myriad Pro Bold';
  font-size: 3em;
  text-shadow: 0px 3px black;
}

.letter > img {
  max-width: 100px;
  max-height: 100px;
}

@media screen and (max-width: 650px) {
  #optionsLetters {
    grid-template-columns: 1fr 1fr 1fr
  }
}
