.cont_abc{
	min-height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	height: auto;
	max-width: 100vw;
	width: 100vw;
	min-height: 300px;
}

.letra{
	text-align: center;
	cursor: pointer;
	font-size: 3em;
	font-weight: bold;
	cursor: pointer;
	text-align: center;
	margin: 50px;
	transform: scale(0,0);
	width: 400px;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}

.contain{
	width: 100vw;
}

.vocabulary{
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 320px;
	width: 100%;
	max-width: 500px;
	height: 150px;
	font-size: 2em;
	text-align: center;
}

#arrow{
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 0 10px;
	clip-path: polygon(0% 40%, 60% 40%, 60% 10%, 100% 50%, 60% 90%, 60% 60%, 0% 60%);
	/* clip-path: polygon(0% 20%, 60% 20%, 60% 10%, 100% 50%, 60% 90%, 60% 80%, 0% 80%); */
	background-color: var(--orange);
}

.buttons span {
	width: 50px;
}

.active{
	transform: scale(1,1);
}

.lessonButton {
	border-radius: 3px;
	padding: 0px 0px;
	margin: 50px 25px !important;
	background: transparent;
	height: 100px;
}

#btnIzq > .navigationButtons {
	border-bottom: 44px solid var(--lessons);
	border-right: 28px solid transparent;
	border-left: 28px solid transparent;
	border-top: 0px solid var(--lessons);
	transform: rotate(-90deg);
	position: unset;
	bottom: unset;
}

#btnDer > .navigationButtons {
	border-bottom: 44px solid var(--lessons);
	border-right: 28px solid transparent;
	border-left: 28px solid transparent;
	border-top: 0px solid var(--lessons);
	transform: rotate(90deg);
	position: unset;
	bottom: unset;
}

@media only screen and (min-width: 650px) {
	.cont_abc {
		min-width: 600px;
		margin-top: 0px;
	}

	.letra {
		font-size: 5em;
	}

}

@media only screen and (min-width: 1020px) {
	.cont_abc {
		min-width: 1000px;
		margin-top: 0px;
	}

	.letra {
		font-size: 5em;
	}
}
