.cont_abc{
	display: flex;
	justify-content: center;
  align-items: center;
	flex-wrap: wrap;
	width: 100%;
	min-width: 560px;
	min-height: 45vh;
	/* max-width: 600px; */
	margin: 15px;
}

.letra{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	cursor: pointer;
	font-size: 3em;
	font-weight: bold;
	cursor: pointer;
	text-align: center;
	transform: scale(0,0);
	width: 400px;
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}

.contain{
	width: 100vw;
}

.vocabulary{
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 320px;
	width: 100%;
	height: auto;
	font-size: 2em;
	text-align: center;
}

#arrow{
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 0 10px;
	clip-path: polygon(0% 40%, 60% 40%, 60% 10%, 100% 50%, 60% 90%, 60% 60%, 0% 60%);
	/* clip-path: polygon(0% 20%, 60% 20%, 60% 10%, 100% 50%, 60% 90%, 60% 80%, 0% 80%); */
	background-color: var(--orange);
}

.buttons span {
	width: 50px;
}

.active{
	transform: scale(1,1);
}

.lessonButton {
	border-radius: 3px;
	padding: 0px 0px;
	margin: 0 25px;
	background: transparent;
	height: 50px;
	width: 50px;
}

#btnIzq > .navigationButtons {
	border-bottom: 44px solid var(--lessons);
	border-right: 28px solid transparent;
	border-left: 28px solid transparent;
	border-top: 0px solid var(--lessons);
	transform: rotate(-90deg);
	position: unset;
	bottom: unset;
}

#btnDer > .navigationButtons {
	border-bottom: 44px solid var(--lessons);
	border-right: 28px solid transparent;
	border-left: 28px solid transparent;
	border-top: 0px solid var(--lessons);
	transform: rotate(90deg);
	position: unset;
	bottom: unset;
}

@media screen and (max-width: 560px) {
	.cont_abc {
		display: grid;
		grid-template-areas: 'image image'
												 'vocabulary vocabulary'
												 'izq der'
												 'buttons buttons';
		row-gap: 20px;
		max-width: auto;
		min-width: 300px;
		place-items: center;
	}

	.letra {
		font-size: 5em;
		grid-area: image;
		height: 300px;
		width: 300px;
	}
	.vocabulary{
		grid-area: vocabulary;
	}

	#btnIzq{
		grid-area: izq;
	}

	#btnDer{
		grid-area: der;
	}

	.actionButtons{
		grid-area: buttons;
	}

}

@media only screen and (min-width: 1020px) {
	.cont_abc {
		min-width: 1000px;
		margin-top: 0px;
	}

	.letra {
		font-size: 5em;
	}
}
